# for Mac OS X System Files
.DS_Store
Thumbs.db
 
# for Eclipse
.project
.settings/*
*/.settings/*
.classpath


# for IDEA
.idea
.idea/*
*.iml
/out/*
/target


# for Node
/node_modules/
"newwwwww/\346\217\222\344\273\266/pdf.js/"
