<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
	</body>
	<script type="text/javascript">
		console.log('log');
		console.log('我来自于%s年','1989');
		console.debug('debug');
		console.info('info');
		console.warn('warn');
		console.error('error');
		const people = {
			'person1':{'firstname':'zhang','lastname':'meng'},
			'person2':{'firstname':'zhang','lastname':'meng'},
			'person3':{'firstname':'zhang','lastname':'meng'},
			'person4':{'firstname':'zhang','lastname':'meng'}
		}
		console.table(people);
		console.log('%c this is colorful font','color:red;font-size:25px;background:url(img/flower1.jpg);')
	
		console.time();
		var sum = 0;
		for (var i = 0; i < 10000; i++) {
			
		}
		console.timeEnd();
	
	</script>
</html>
